/* Anasayfa.css */

/* Body element */
body {
    background-color: #CE2829;
    min-height: 200vh;
  }
  
  /* Heading */
  h1 {
    text-align: center;
    margin-top: 50px;
    color: white;
    font-family: 'Barlow', sans-serif;
    font-weight: bold;
  }
  
  /* Subheading */
  p {
    text-align: center;
    margin-top: 100px;
    color: white;
    font-size: 40px;
  }
  
  /* Link button */
  .button {
    background-color: #FDC913;
    color: black;
    padding: 15px 80px;
    border-radius: 30px;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
  }
  
  .button:hover {
    background-color: black;
    color: white;
  }
  .anasayfa-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px; /* Butonun üst boşluğunu ayarlamak için */
  }
  
  /* Image at the bottom of the page */
  img {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    object-fit: cover;
  }
  