.main {
width: 60vw;  
height: 100vh;
margin: auto;
display: flex;
flex-direction: column;
align-items: center;
}

h1,h2{
  color: white;
}

.row1{
  flex-grow: 2;
  text-align: center;
  display: flex;
  align-items: center;
  padding-top: 2rem;
  font-family: 'Anton',cursive;
  font-size: 1.5rem;
}

.row2{
  flex-grow: 1;
  text-align: center;
  display: flex;
  align-items: center;
  font-family: 'Plus Jakarta Sans',cursive;
  font-size: 3rem;
}

.buttonMain{
  flex-grow: 1;
  width: 10rem;
  height: 2rem;
  border-radius: 1rem;
  background-color:#FDC913;
  font-size: 1rem;
  font-family: 'Plus Jakarta Sans',cursive;
  text-align: center;
  border-style: hidden;
}

.buttonMain:hover{
  background-color:#eb4264;
  color: white;

}


.img{
  flex-grow: 1;
  margin-top: 1rem;
  display: flex;
  align-items: flex-end;
}

.img img{
  width: 60vw;
}